/* Hero Section  */
#home {
    text-align: center;
    padding: 40px 20px;
    background-color: #f0f0f0;
}

/* Simple Section Styling */
section {
    padding: 20px;
    text-align: center;
}

.hero {
    font-size: 2rem;
    color: #333;
}

#Self-assess, #contact {
    background-color: #e0e0e0;
    margin-top: 20px;
}