* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}


/* Navigation Bar */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

/* Hero Section  */
#home {
    text-align: center;
    padding: 40px 20px;
    background-color: #f0f0f0;
}

/* Simple Section Styling */
section {
    padding: 20px;
    text-align: center;
}

.hero {
    font-size: 2rem;
    color: #333;
}

#Self-assess, #contact {
    background-color: #e0e0e0;
    margin-top: 20px;
}